.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 30px 70px 70px 70px 70px 70px;
    gap: 0px 0px;
    grid-gap: 10px;
    grid-template-areas:
            "NAZOV NAZOV NAZOV"
            "OBRAZOK OBRAZOK OBRAZOK"
            "OBRAZOK OBRAZOK OBRAZOK"
            "OBRAZOK OBRAZOK OBRAZOK"
            "OD OD AKCIE"
            "DO DO AKCIE";
    background-color: #ffffff;
    padding: 5px;
    width: max-content;
    border: 2px solid; color: #f3f3f3;
    border-radius: 5px;
}

.grid-container > div {
    font-size: 20px;
}

.NAZOV { grid-area: NAZOV; color: #000000; text-align: center;}

.OBRAZOK { grid-area: OBRAZOK; color: #000000}

.AKCIE { grid-area: AKCIE; color: #000000;    align-self: center;}

.DO { grid-area: DO;color: #000000; text-align: center; }

.OD { grid-area: OD; color: #000000; text-align: center;}
