@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    margin: 0;
    height: 100%;
}

.button_container {
    position:relative;
    left: 0%;
    top: 0%;
}

.button_container h1{
    font-family: 'arial';
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.button_container h2{
    font-family: 'arial';
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    width: 100%;
}

.description, .link {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.description {
    font-size: 35px;
}

.hover_btn {
    border: none;
    display: inline;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #222222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}



.hover_btn span {
    position: relative;
    z-index: 1;
}

.hover_btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #6b6b6b;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.hover_btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.hover_btn2 {
    border: none;
    display: inline;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #6b6b6b;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}



.hover_btn2 span {
    position: relative;
    z-index: 1;
}

.hover_btn2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #222222;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.hover_btn2:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}






.link {
    font-size: 20px;
    margin-top: 30px;
}

.link a {
    color: #000000;
    font-size: 25px;
}

.button_container a{
    text-decoration:none;
}
