
.container{
    overflow: hidden;
}
.container_join{
    padding-top: 50px;
    text-align: center;
}
.container_img{
    padding: 15px;
    margin-bottom: 15px;
    float: left;
    background: rgba(225, 225, 225, .8)
}
.container_text{
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 10px;
    background: rgba(225, 225, 225, .8)
}

.container_text h1{
    color: black;
    font-weight: bold;
    font-family: Arial;
    font-size: 22px;
    display: block;
    width: 100%;
    padding-top: 0px;
}

