.container{
    display: flex;
    justify-content: center;
}
.card{
    min-width: 500px;
    clear:both;
}
.card-header{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}
.form-group{
    text-align: center
}


